[submodule "social"]
	path = social
	url = https://github.com/OCA/social.git
	branch = 16.0
[submodule "server-env"]
	path = server-env
	url = https://github.com/OCA/server-env
	branch = 16.0
[submodule "credit-control"]
	path = credit-control
	url = https://github.com/OCA/credit-control.git
	branch = 16.0
[submodule "storage"]
	path = storage
	url = https://github.com/OCA/storage
	branch = 16.0
[submodule "account-reconcile"]
	path = account-reconcile
	url = https://github.com/OCA/account-reconcile.git
	branch = 16.0
